{% extends "layout.html.twig" %}
{% block stylesheet %}{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
    <h1>Vous êtes bien dans l'affichage Admin des commentaires !</h1>
{% endblock %}
{% block footer %}{% endblock %}