{% extends 'layout.html.twig' %}

{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block banner %}
    {% include 'banner.html.twig' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin/themes-jobs.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Ajouter une thématique</h2>
                <form action="/admin/add-theme" method="post" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="newTheme" name="themeName" placeholder="Entrer le nom du nouveau théme">
                        <button type="submit" class="btn btn-default">Envoyer</button>
                    </div>
                </form>
                {% if (session.success is defined) %}
                    <p class="text-success">{{ session.success }}</p>
                {% elseif (session.danger is defined) %}
                    <p class="text-danger">{{ session.danger }}</p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>Ajouter une fiche métier</h2>
                <a href="" class="btn">Ajouter une fiche métier</a>
            </div>
        </div>
    </div>
{% endblock %}
