body {
    padding-top: 50px;
}

.container h1 {
    padding-bottom: 25px;
}

.valid {
    background-color: #C8C8C8;
}

.valid:hover {
    background-color: #B8B8B8;
}

.not-valid {
    background-color: #FFCC80;
}

.not-valid:hover {
    background-color: #FFB74D;
}

.nav-pagination {
    text-align: center;
}

.pagination>li>a {
    color: black;
}

.pagination>.active>a {
    background-color: #F9A02E;
    border-color: #F9A02E;
    color: white;
}

.pagination>.active>a:hover,
.pagination>.active>a:focus {
    background-color: #FBA858;
    border-color: #FBA858;
}

.pagination>li>a:hover,
.pagination>li>a:focus {
    background-color: #FBA858;
    border-color: #FBA858;
    color: white;
}

#legend {
    margin-bottom: 40px;
}

.legend-color {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.flex {
    display: flex;
}

.legend-text {
    font-size: 1.4em;
}