{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/bandeau.css">

{% endblock %}

{% block bandeau %}


    <header class="bandeauheader container-fluid">
        <div class="bandeauheader-content">
            <h1 class="bandeauhome bandeauline-1 bandeauanim-typewriter">Les métiers du numeriques</h1>

        </div>
    </header>



{% endblock %}