{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/banner.css">

{% endblock %}

{% block banner %}
    <header class="banner container-fluid">
        <div class="banner-content">
            <h1 class="title typewriter">Les métiers du numérique</h1>
        </div>
    </header>
{% endblock %}