{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/footer.css">
{% endblock %}
{% block footer %}
    <footer class="footer">
        <p>
            <a href="https://wildcodeschool.fr/">
                <img src="/assets/images/footer/logo_wild.png" alt="Logo Wild Code School" class="logo">
            </a>
        </p>
        <div id="network">
            <a href="https://www.facebook.com/wildcodeschool/"><div id="hover-fb"></div></a>
            <a href="https://twitter.com/WildCodeSchool?lang=fr"><div id="hover-tw"></div></a>
            <a href="https://fr.linkedin.com/school/wild-code-school/"><div id="hover-lk"></div></a>
            <a href="https://www.youtube.com/channel/UCi99G_0QPx5sYsK8zdvQzfw"><div id="hover-yt"></div></a>
            <a href="https://www.instagram.com/wildcodeschool/?hl=fr"><div id="hover-in"></div></a>
            <a href="https://github.com/wildcodeschool"><div id="hover-gh"></div></a>
        </div>
    </footer>
{% endblock %}