{% extends "layout.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}
{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}
{% block content %}
    <header class="header container-fluid">
        <div class="header-content">
            <h1 class="home line-1 anim-typewriter">La Wild Code School vous informe</h1>
            <a href="#"><button class="btn btn-lg">Découvrir les métiers du numérique</button></a>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h4 class="text-center">Interview de John Devos, Campus Manager à Orléans</h4>
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe width="560" height="315" class="iframe embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/dn2c61VGCoQ"></iframe>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <h4 class="text-center">Interview de Nicolas Vincent, formateur à Orléans</h4>
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe width="560" height="315" class="iframe embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/dn2c61VGCoQ"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}