{% extends "layout.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/comment.css">
{% endblock %}
{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block content %}

    <!-- limite content -->

    <div class="container">
        <div class="row">
            <div class="col-md-4 pad-comment">
                <div class="row">
                    <div class="col-md-3"><img src="../../assets/images/quotes.png" alt="guillemets" width=60"></div>
                    <div class="col-md-3"><a href="https://placeholder.com"><img src="http://via.placeholder.com/60x60"></a></div>
                    <div class="col-md-6">
                        <div class="row">nom</div>
                        <div class="row">ancien wilder</div>
                        <div class="row">travaille à :</div>
                    </div>
                </div>
                <div class="row">
                    <h2>Question 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="row">
                    <h2>Question 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="row">
                    <h2>Question 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-md-4 pad-comment">
                <div class="row">
                    <div class="col-md-3"><img src="../../assets/images/quotes.png" alt="guillemets" width=60"></div>
                    <div class="col-md-3"><a href="https://placeholder.com"><img src="http://via.placeholder.com/60x60"></a></div>
                    <div class="col-md-6">
                        <div class="row">nom</div>
                        <div class="row">ancien wilder</div>
                        <div class="row">travaille à :</div>
                    </div>
                </div>
                <div class="row">
                    <h2>Question 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="row">
                    <h2>Question 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="row">
                    <h2>Question 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-md-4 pad-comment">
                <div class="row">
                    <div class="col-md-3"><img src="../../assets/images/quotes.png" alt="guillemets" width=60"></div>
                    <div class="col-md-3"><a href="https://placeholder.com"><img src="http://via.placeholder.com/60x60"></a></div>
                    <div class="col-md-6">
                        <div class="row">nom</div>
                        <div class="row">ancien wilder</div>
                        <div class="row">travaille à :</div>
                    </div>
                </div>
                <div class="row">
                    <h2>Question 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="row">
                    <h2>Question 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="row">
                    <h2>Question 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}