{% extends "layout.html.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/job.css">
{% endblock %}
{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block content %}
    <div id="titre-metier" class=""container-fluid">
        <h1>{{job.name}}</h1>
    </div>
    <div class="container">
        <a href="#"><button class="btn btn-lg">retour</button></a>
        <div id="description" class="page-header">
            <div class="col-sm-12 col-md-8">
                <h3>{{job.name}}</h3>
                    <p>{{job.description}}</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe width="560" height="315" class="iframe embed-responsive-item" frameborder="0" src="{{job.video}}"></iframe>
                </div>
            </div>
        </div>
    </div>
    {# limite content #}

{% endblock %}


{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}