@media (max-width: 766px) {
    .banner {
        margin-bottom: 25px;
    }
}

.banner {
    height: 30vh;
    background-image: url("/assets/images/server.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    position: relative;
    top: 30px;
}

.title {
    margin: 20px 0;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: calc(25px + (46 - 29) * (100vw - 400px) / 1200);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: rgba(255,255,255,.75);
    text-transform: uppercase;
}

.typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
    color: #fff;
}

@keyframes typewriter {
    from { width: 0; }
    to { width: 14em; }
}

@keyframes blinkTextCursor {
    from { border-right-color: #FBA858; }
    to { border-right-color: transparent; }
}