footer {
    background-color: #35383A;
    text-align: center;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 50px;
}


#logo:hover {
    box-shadow: 0 0px 0px 0 #272727;
}

.form-control {
    border-radius: 0;
    border-bottom: 1px solid #1FA597;
    margin-top: 10px;
}

.form-control:focus {
    box-shadow: none;
}

#network {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#network div {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 5px 5px 0 #272727;
}

#logo {
    background-image: url("/assets/images/footer/logo_wild.png");
}

#hover-fb {
    background-image: url("/assets/images/footer/facebook_gris.png");
}

#hover-tw {
    background-image: url("/assets/images/footer/twitter_gris.png");
}

#hover-lk {
    background-image: url("/assets/images/footer/linkedin_gris.png");
}

#hover-yt {
    background-image: url("/assets/images/footer/youtube_gris.png");
}

#hover-in {
    background-image: url("/assets/images/footer/instagram_gris.png");
}

#hover-gh {
    background-image: url("/assets/images/footer/github_gris.png");
}

#hover-fb:hover {
    background-image: url("/assets/images/footer/facebook.png");
}

#hover-tw:hover {
    background-image: url("/assets/images/footer/twitter.png");
}

#hover-lk:hover {
    background-image: url("/assets/images/footer/linkedin.png");
}

#hover-yt:hover {
    background-image: url("/assets/images/footer/youtube.png");
}

#hover-in:hover {
    background-image: url("/assets/images/footer/instagram.png");
}

#hover-gh:hover {
    background-image: url("/assets/images/footer/github.png");
}

@media screen and (max-width: 766px) {
    #network div {
        width: 30px;
        height: 30px;
    }
}