* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    color: #FFFFFF;
    background-color: #FBA858;
    border-color: #FBA858;
    text-align: center;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.5;
}

a .btn:hover,
a .btn:focus,
a .btn:active,
a .btn.active,
.open .dropdown-toggle.btn {
    color: #FFFFFF;
    background-color: #F9A02E;
    border-color: #FBA858;
}

.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    /*font-size: 180%;*/
    font-size: calc(1vw + 1vh + 1vmin);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: rgba(255,255,255,.75);
}

/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
    color: #fff;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 21em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: #FBA858;}
    to{border-right-color: transparent;}
}