.banner {
    height: 30vh;
    background-image: url("/assets/images/server.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 50px;
}

.banner-content {
    position: relative;
    top: 140px;
}

.title {
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: calc(20px + (46 - 29) * (100vw - 400px) / 1200);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: rgba(255,255,255,.75);
    text-transform: uppercase;
}

.typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
    color: #fff;
}

@keyframes typewriter {
    from { width: 0; }
    to { width: 19em; }
}

@keyframes blinkTextCursor {
    from { border-right-color: #FBA858; }
    to { border-right-color: transparent; }
}

.iframe {
    padding: 10px;
    max-height: 360px;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}

h2 {
    font-size: 25px;
}

.margin-bottom {
    margin-bottom: 40px;
}